<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>IHC</title>
</head>
<body>
        <nav>
            <div class="logo">
               <a href="index.html">PROJETO IHC</a> 
            </div>

            <div class="login">
                <button>
                    <a href="{{ url_for('login') }}">Possui uma Conta?</a>
                </button>
             
            </div>
        </nav>

        <div class="carrosel">
            <div class="text">
                <h2>Monitore suas viagens</h2>
            </div>

            <div class="img">
                <img src="/static/img/a.jpg" alt="">
            </div>
        </div>

        <div class="acesso">
            <div class="inscreva">
                <h2><a href="cadastro.html">Inscreva-se agora</a></h2>
               <i class="fa-solid fa-arrow-right seta"></i>
            </div>

            <div class="entrar">
                <h2>Conecte-se</h2>
                <i class="fa-solid fa-arrow-right seta"></i>
            </div>
        </div>

        <div class="rodape">
            <div class="conteudo1">
                <div class="logo-rodape">
                    PROJETO IHC
                </div>

                <div class="endereco">
                    Rua Frederico Grotte, 322 - Jardim São Luís, 
                    <br>São Paulo - SP, 05818-270
                </div>
            </div>

            <div class="conteudo2">
                <div class="emrpesa">
                    <h3>Empresa</h3>
                    <li>Sobre nos</li>
                    <li>Nossas Ofertas</li>
                    <li>Redação</li>
                    <li>Investidores</li>
                </div>

                <div class="produto">
                    <h3>Produtos</h3>
                    <li>Andar</li>
                    <li>Dirigir</li>
                    <li>Entregar</li>
                    <li>Uber para Empresas</li>
                </div>

                <div class="Cidadania">
                    <h3>Cidadania Global</h3>
                    <li>Segurança</li>
                    <li>Diversidade e Inclusão</li>
                    <li>Sustentabilidade</li>
                </div>

                <div class="Viagem">
                    <h3>Viagens</h3>
                    <li>Aeroportos</li>
                    <li>Cidades</li>
                </div>
            </div>

            <div class="midia">
                <div class="face">
                <i class="fa-brands fa-square-facebook"></i>
                </div>

                <div class="twitter">
                <i class="fa-brands fa-twitter"></i>
                </div>

                <div class="linkedin">
                <i class="fa-brands fa-linkedin"></i>
                </div>

                <div class="instagram">
                <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
        </div>
</body>
</html>