*{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: black;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    
}

.logo{
    margin-top: 15px;
    margin-left: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.logo a:visited{
    color: white;
}


.login{    
    margin-top: 15px;
    margin-right: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

button{
    height: 30px;
    width: 150px;
    background-color: white;
    border: 1px solid black;
    border-radius: 15px;
}

a{
    text-decoration: none;
    color: black;
}

a:visited{
    color: blaCK;
}

.carrosel{
    background-color: black;
    display: flex;
    justify-content: space-around;
    height: 500px;
  
}

.text{
    color: white;
    margin-top: 120px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.img{
    margin-top: 95px;
}


.acesso{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.inscreva{
    display: flex;
    border-bottom: 1px solid black;
}

.entrar{
    display: flex;
    border-bottom: 1px solid black;
}
.seta{
    margin-left: 30px;
    margin-top: -3px;
    font-size: 42px;
}

.rodape{
    background-color: black;
    color: white; 
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif; 
}

.conteudo1{
    display: flex;
    justify-content: space-around;
}

.logo-rodape{
    margin-top: 60px;
    font-size: 20px;
}

.endereco{
    margin-top: 60px;
    font-size: 16px;
}

.conteudo2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

li{
    text-decoration: none;
    list-style: none;
    padding: 10px;
}

.midia{
    display: flex;
    margin-left: 150px;
    margin-top: 50px;
}

.facebook, .twitter, .linkedin, .instagram{
    margin-left: 90px;
}
